body{
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #333;
    background: linear-gradient(rgba(255,255,255,1), #2691d9);
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:25rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.center h1{
    text-align: center;
    padding: 0 0 0.5em 0;
    font-size: 2rem;
    color: #333;
    border-bottom: 1px solid silver;
}

.center form{
    padding: 0 1rem;
    box-sizing: border-box;
}

form .txt_field{
    position: relative;
    margin: 2.5rem 0;
    border-bottom: 1px solid #adadad;
}

.txt_field input{
    width: 100%;
    height: 2.5rem;
    /* padding: 0.5rem 0; */
    font-size: 1rem;
    color: #333;
    border: none;
    background: none;
    outline: none;
    resize: none;
}
  
.txt_field label{
    position: absolute;
    top: 50%;
    left: .3125rem;
    padding: 0 0.5rem;
    font-size: 1rem;
    color: #adadad;
    pointer-events: none;
    transform: translateY(-50%);
    transition: 0.5s;
}

.txt_field span::before{
    content: '';
    position: absolute;
    top: 2.5rem;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #2691d9;
    transition: 0.5s;
}

.txt_field input:focus ~ label, .txt_field input:valid ~ label{
    top: -1rem;
    left: 0;
    color: #2691d9;
}

.txt_field input:focus ~ span::before, .txt_field input:valid ~ span::before{
    width: 100%;
}

.pass{
    margin: 1rem 0;
    color: #a6a6a6;
    cursor: pointer;
    transform: 0.5s;
}

.pass:hover{
    color: #2691d9;
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    height: 2.5rem;
    margin: 1rem 0;
    border: 1px solid #2691d9;
    border-radius: 25px;
    font-size: 1rem;
    color: #fff;
    background-color: #2691d9;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
}

input[type="submit"]:hover{
    background-color: #fff;
    color: #2691d9;
    transition: 0.5ms;
}

.signupLink{
    text-align: center;
    margin: 1rem 0;
    font-size: 1rem;
    color: #a6a6a6;
}

.signupLink a{
    color: #2691d9;
    text-decoration: none;
}

.signupLink a:hover{
    text-decoration: underline;
}